In [3]:
import pandas as pd
import numpy as np

In [38]:
def split_dates(date_series):
    df = pd.DataFrame(date_series)
    df[0]=pd.to_datetime(df[0])
#     # df['column']
    for d in df:
        df["month"] = df[0].dt.month
        df["day"] = df[0].dt.day
        df["year"] = df[0].dt.year
        df=df.drop(columns=0)
    return df

   month  day  year
0      2   28  2006
1      3    9  2010
2      6   12  1850

In [41]:
def list_2_series(list_2_series, df):
    series=pd.Series(list_2_series)
    df=pd.DataFrame(series)
    return df

SyntaxError: invalid syntax (Temp/ipykernel_12024/1725528863.py, line 3)